.container {
  background-color: hsl(0, 120%, 90%);
  padding: 2em 4em;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.counter {
  font-size: 12rem;
  color: rgb(118, 128, 136);
}
.button {
  padding: 1rem 2rem;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: blue;
  font-size: 2rem;
  color: white;
}
